.hidden {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
  letter-spacing: 0.02;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
.visually-hidden {
  font-weight: 700;
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*common*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*header*/

.header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list,
.contact {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-align: left;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.navbar .logo:hover,
.navbar .logo:focus {
  color: #404bbf;
}

.span-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .navbar-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navbar-punkt {
    display: block;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navbar-punkt.current {
    position: relative;
  }

  .navbar-punkt.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .navbar-punkt:focus,
  .navbar-punkt:hover,
  .navbar-punkt.current {
    color: #404bbf;
  }

  .contact {
    font-style: normal;
    font-weight: 400;
    display: block;
  }
  .contact-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
  .contact-way {
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-way:focus,
  .contact-way:hover {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contact-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .contact-way {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile-nenu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.navbar-list-burger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.navbar-punkt-burger {
  display: block;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-punkt-burger:focus,
.navbar-punkt-burger:hover,
.navbar-punkt-burger.current {
  color: #404bbf;
}

.contact-burger {
  font-style: normal;
  font-weight: 500;
  display: block;
  margin-bottom: 48px;
}

.contact-list-burger {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.contact-way-burger {
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  font-size: 20px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-way-burger:focus,
.contact-way-burger:hover,
.contact-way-burger.current {
  color: #404bbf;
}

.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-burger .social {
  justify-content: flex-start;
}

.social-links {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link-item {
  fill: #f4f4fd;
  
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* title container */

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  max-height: 432px;
}
.title {
  /*background-color: #2e2f42;*/
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), 
      url("../images/background/bg-mob-1-min.jpg")     
    ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/bg-mob-min.jpg");
  }
}

.title-capture {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin-bottom: 72px;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .title {
    padding: 112px 0;
    
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7))
      ,url("../images/background/bg-tab-1-min.jpg")
      ;
  }
  .title-capture {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/bg-tab-min.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .title {
    padding: 188px 0;
    margin-bottom: 120px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url("../images/background/bg-desk-1-min.jpg")
      ;
  }
  .title-capture {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/bg-desk-min.jpg");
  }
}

/*strengths*/

.strengths {
  padding: 96px 0;
}
.strengths-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}
.strengths-item {
  width: 100%;
}
.strengths-img {
  display: none;
}
.strengths-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}
.strengths-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .strengths-list {
    gap: 72px 24px;
  }
  .strengths-item {
    width: 356px;
  }
  .strengths-list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .strengths {
    padding: 120px 0;
  }
  .strengths-img {
    display: flex;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .strengths-list {
    gap: 24px;
  }

  .strengths-item {
    width: calc((100% - 72px) / 4);
  }
  .strengths-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .strengths-list-text {
    font-weight: 400;
    
  }
}

/*team*/

.team {
  background-color: #f4f4fd;
  padding: 96px 0;


}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
.team-list-item {
  background-color: #ffffff;
  align-items: center;
  letter-spacing: 0.02em;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  flex-basis: 100%;
}
.member-img {
  width: 100%;
}
.team-member {
  padding: 32px 16px;
  align-items: center;
  justify-content: center;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
   .team-list-item {
      flex-basis: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
    
  }
  .team-list{
    padding: 0;
  }
  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .team-title {
    text-transform: capitalize;
  }
}

/* PORTFOLIO */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  flex-basis: 100%;
}

.portfolio-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-container {
  position: relative;
  overflow: hidden;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  font-size: 16px;
}
.portfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.overlay-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 40px 24px;
  }
  .portfolio-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .portfolio-title {
    text-transform: capitalize;
  }
  .overlay-text {
    display: block;
    position: absolute;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
  }

  .portfolio-list-item:hover .overlay-text {
    transform: translateY(0%);
  }
}

/* FOOTER */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
  display: flex;
  justify-content: space-around;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  align-items: baseline;
  gap: 72px;
  
}
.webstudio {
}
.footer .span-studio {
  color: #f4f4fd;
  line-height: 1.17;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
 
  
  font-weight: 400;
  text-align: left;
}

.down-logo {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: 700;
}

.social-media {
  display: block;
}

.sm-text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}

.social-media .social {
  gap: 16px;
}

.social-media .social-links {
  width: 40px;
  height: 40px;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.to-subscribe {
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-email::placeholder {
  font-weight: 400;
  color: #ffffff;
  padding: 8px 0 8px 16px;
}
.footer-btn {
  display: flex;
  border-radius: 4px;
  
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-subscribe {
  fill: #ffffff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer{
    padding-left: 108px;
  }
  .webstudio{
    width: 264px;
   
  }
  .subscribe-form {
    display: flex;
    justify-content: flex-start;
    gap: 72px 24px;
  }
  .footer-email{
    margin-bottom: 0;
  }
  .webstudio {
   
  }
  .footer-wrapper {
    text-align: left;
    justify-content: flex-start;  
    gap: 72px 24px; 
  }
  .sm-text{
    text-align: left;
  }
  .footer-btn{
    margin-left: 0;
  }
  .to-subscribe{}
  .footer-email {
    width: 264px;
    
}
}
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    
  }
  .footer-wrapper {
    flex-direction: row;
    
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    flex-wrap: nowrap;
    gap: no-gap;
  }
  .webstudio{
    margin-right: 120px;
  }
  .footer-text{
   
    font-size: 16px;
  }
  .social-media{
    
  }
  .footer-text {
    width: 264px;}

  .social-media .social-link:hover,
  .social-media .social-link:focus {
    background-color: #31d0aa;
  }
  .footer-btn:hover,
  .footer-btn:focus {
    background-color: #31d0aa;
  }
  .subscription{
    margin-left: auto;
  }
}

/*extra form*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: RGBA(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 288px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 16px 16px 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-section {
  position: relative;
}

.modal-input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #2e2f42;
}
.user-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input-section {
  position: relative;
  margin-bottom: 8px;
}

.text-area {
  margin-bottom: 16px;
}
.modal-input-section .text-area {
}

/* ----checkbox----- */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
}

.checkbox-field label {
  cursor: pointer;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  fill: transparent;
  flex-shrink: 0;
}

.checkbox-icon {
  fill: #f4f4fd;
}

.visually-hidden:checked + .input-name > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-field {
  margin-bottom: 24px;
}

.terms-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.modal-close-btn:hover,
  .modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }
  .modal-input:focus {
    border-color: #4d5ae5;
    outline: none;
  }

  .modal-input:focus + .modal-icon {
    fill: #4d5ae5;
  }

  .user-text:focus {
    border-color: #4d5ae5;
    outline: none;
  }

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
  }
  
}
